.date-text{
    font-size: 30px;
    
}

.plugin-message{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 18px;
    color: red;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.from-data-and-time{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #9497A1
}
.span{
    left: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;

}
.auto{
    width:55px;
    margin-top: -3%;
     
}
::-webKit-scrollbar {
    width: 6px;
    height: 21px
}

::-webkit-scrollbar-thumb {
    background:  #32394C;
    height: 154px;
    width: 185px;
    border-radius: 22px;
}

::-webkit-scrollbar-track {
    left: 800px;
    height: 723px;
    background:  #050E25
}

::-webkit-scrollbar-thumb:horizontal {
    background: #075779;
    height: 185px
}

::-webkit-scrollbar-track:horizontal {
    background: #999;
    height: 723px
}   

